.contPart_1 {
  padding-top: 50px;
  text-align: left;
}

.activBar {
  font-size: 28px;
  vertical-align: top;
  border: 1px solid grey;
  width: 330px;
}

.contentLink {
  padding-top: 25px;
  padding-left: 40px;
  padding-bottom: 25px;
}

.boxForLogo {
  margin-left: 50px;
  border: 1px solid grey;
}

.mainLogo {
  padding: 75px 285px;
  width: 320px;
  height: 380px;
  text-align: center;
  vertical-align: middle;
}

.contPart_2 {
  font-size: 18px;
  margin-top: 50px;
  padding-left: 425px;
  padding-right: 40px;
  text-align: justify;
}

.text_2 {
  margin-top: 30px;
}
