.activLogo:hover {
  transform: scale(1.2);
  transition: all 0.5s ease;
}

.headerActivLink:hover {
  transition: all 0.2s ease;
  background-color: black;
  border: 0.5px solid white;
  border-top: none;
  border-bottom: none;
}

.contentActivLink:hover {
  transition: all 0.2s ease;
  color: black;
  background-color: gray;
  padding-left: 70px;
}

.footerActivLink:hover {
  transition: all 0.2s ease;
  color: #3181a6;
  text-decoration: underline;
}
