.footerBar {
  background-color: #b4b7ba;
  text-align: left;
  margin-top: 50px;
  margin-bottom: 30px;
}
.bar {
  padding: 20px 0 20px 45px;
  font-size: 26px;
}

.footerButtom {
  padding-right: 10px;
}

.footerText {
  font-size: 24px;
  padding-left: 218px;
}
