.globaContainer {
  width: 1280px;
  font-family: Roboto, Oxygen, Ubuntu, sans-serif;
  margin: 60px auto 0;
}

* {
  margin: 0;
  padding: 0;
}

.colorBlue {
  color: #4bcaff;
}

.colorWhite {
  color: white;
}

.colorGrey {
  color: #767a7e;
}
.colorBlack {
  color: #000000;
}

.inline {
  display: inline-block;
}

a {
  text-decoration: none;
}

ul {
  list-style: none;
}
