.logo {
  font-size: 80px;
  text-align: left;
  width: 300px;
}

.navigationBar {
  background-color: #35444f;
  font-size: 24px;
  margin-top: 45px;
  padding-top: 25px;
  padding-bottom: 25px;
  border: 0.1px solid #35444f;
  text-align: center;
}

.navBarLink {
  padding: 25px 40px;
}
