* {
  margin: 0;
  padding: 0;
}

.colorWhite {
  color: white;
}

.colorBlue {
  color: #14b9d5;
}

.backWhite {
  background-color: #ffffff;
}

.inLine {
  display: inline-block;
}

.sprite {
  background-image: url("../access/spritesheet.png");
  background-repeat: no-repeat;
  /* display: block; */
}

.sprite-LogoHeader {
  width: 27px;
  height: 27px;
  background-position: -156px -116px;
}

.sprite-SearchHeader {
  width: 17px;
  height: 17px;
  background-position: -187px -43px;
}

.sprite-Separator {
  width: 60px;
  height: 3px;
  background-position: -214px -43px;
}

.sprite-Dryme {
  width: 135px;
  height: 49px;
  background-position: -5px -5px;
}

.sprite-HouseHome {
  width: 172px;
  height: 42px;
  background-position: -5px -64px;
}

.sprite-Journy {
  width: 141px;
  height: 52px;
  background-position: -5px -116px;
}

.sprite-NationalPost {
  width: 207px;
  height: 28px;
  background-position: -198px -5px;
}

.sprite-LogoFooter {
  width: 38px;
  height: 24px;
  background-position: -150px -5px;
}

.sprite-NameFooter {
  width: 64px;
  height: 16px;
  background-position: -5px -178px;
}

.containerGeneral {
  font-family: Verdana, Geneva, Tahoma, sans-serif;
  margin: 0 auto;
  /* width: 1900px; */
}

/*---------FLEX (Header)-----------*/

.header {
  background-color: #1d2124;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}

.logoWithName {
  display: flex;
  flex-direction: row;
}

.boxForLogo {
  background-color: #1a1d20;
  width: 80px;
  height: 70px;
  display: flex;
}

.logo {
  margin: auto;
}

.name {
  font-size: 22px;
  margin: auto;
}

.headerMenu {
  font-size: 15px;
  display: flex;
  flex-direction: row;
  margin: auto;
  width: 703px;
  justify-content: space-between;
}

.boxForSearch {
  background-color: #171a1c;
  width: 70px;
  display: flex;
}

.search {
  margin: auto;
}

/*-----------FLEX---------------*/

.theLatestNews {
  background-image: url("../access/img_header-bg.jpeg");
  background-attachment: fixed;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-evenly;
  height: 50vw;
  background-size: 100% 100%; /*!?!?!*/
  background-repeat: no-repeat; /*!?!?!*/
}

.textOnPick-1 {
  font-size: 27px;
  /* margin: auto; */
}

.boxForButtom {
  display: flex;
  flex-direction: row;
  /* margin: auto; */
  font-size: 18px;
  width: 360px;
  justify-content: space-between;
}

.subscribe {
  background-color: #89ca62;
  padding: 20px;
}

.articles {
  background-color: #14b9d5;
  padding: 20px 30px;
}

/*-----------FLEX---------------*/

.containerMostPopular {
  background-color: #f2f2f2;
  padding-bottom: 70px;
  display: flex;
  flex-direction: column;
}

.titleMostPopular {
  font-size: 27px;
  font-weight: bolder;
  margin: 45px auto;
}

.contentMostPopular {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  font-size: 18px;
  width: 1170px;
  margin: auto;
}

.contMostPopColum-1 {
  display: flex;
  flex-direction: column;
}

.colum-1-1 {
}

.post-111 {
  background-image: url("../access/post-111.png");
  width: 370px;
  height: 260px;
}

.textInColum-1-1 {
  padding: 20px 26px;
}

.colum-1-2 {
}

.post-112 {
  background-image: url("../access/post-112.png");
  width: 370px;
  height: 260px;
}

.textInColum-1-2 {
  padding: 20px 26px;
}

.contMostPopColum-2 {
  display: flex;
  flex-direction: column;
}

.colum-2-1 {
}

.post-121 {
  background-image: url("../access/post-121.png");
  width: 370px;
  height: 380px;
}

.textInColum-2-1 {
  padding: 20px 50px;
}

.colum-2-2 {
}

.post-122 {
  background-image: url("../access/post-122.png");
  width: 370px;
  height: 247px;
}

.textInColum-2-2 {
  padding: 20px 57px;
}

.contMostPopColum-3 {
  display: flex;
  flex-direction: column;
}

.colum-3-1 {
}

.post-131 {
  background-image: url("../access/post-131.png");
  width: 370px;
  height: 290px;
}

.textInColum-3-1 {
  padding: 20px 50px;
}

.colum-3-2 {
}

.post-132 {
  background-image: url("../access/post-132.png");
  width: 370px;
  height: 380px;
}

.textInColum-3-2 {
  padding: 20px 36px;
}

/*-------------GRID-----------*/

.containerOurClients {
  background-image: url("../access/img_parallax-bg.jpeg");
  background-attachment: fixed;
  height: 50vw;
  background-size: 100% 100%;
  background-repeat: no-repeat;
}

.textInOurClients {
  font-size: 32px;
  font-weight: bolder;
  text-align: center;
  padding-top: 200px;
}

.separatorOurClients {
  margin: 50px auto;
}

.logoOurClients {
  width: 880px;
  margin: auto;
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  align-items: center;
  grid-gap: 75px;
}

/*---delete???\/---*/

/* .logoNP {
}

.logoDryme {
}

.logoHH {
}

.logoJourny {
} */

/*-----------GRID------------*/

.containerTopRated {
  text-align: center;
}

.titleTopRated {
  font-size: 27px;
  margin: 50px auto;
  font-weight: bolder;
}

.pickTopRated {
  display: grid;
  grid-template-columns: repeat(7, 1fr);
  justify-items: stretch;
}

/* .pickTopRated img {  ????
  width: 271px;
  height: 190px;
} */

/*---------GRID------------*/

.containerHotNews {
  text-align: center;
}

.titleHotNews {
  font-size: 27px;
  font-weight: bolder;
  margin: 60px auto 50px;
}

.contentHotNews {
  width: 1170px;
  margin: auto;
  display: grid;
  /* grid-template-rows: 1fr 1fr 1fr 1fr; */
  grid-template-columns: 1fr 1fr 1fr 1fr;
  grid-column-gap: 35px;
  grid-row-gap: 40px;
  justify-items: center;
  grid-template-areas:
    "item1 item1 item1 item2"
    "item3 item3 item4 item4"
    "item5 item5 item6 item6"
    "item7 item8 item8 item8";
}

/*-------211-----*/

.post-211 {
  grid-area: item1;
}

.pick-211 {
  background-image: url("../access/post-211.png");
  width: 480px;
  height: 259px;
}

.textIn-211 {
  width: 372px;
  text-align: right;
  vertical-align: top;
  background-color: #f9f7f7;
}

.textIn-211 h5 {
  font-size: 18px;
  font-weight: bolder;
  padding-top: 41px;
  padding-right: 24px;
}

.textIn-211 p {
  font-size: 14px;
  padding: 22px 24px 35px 24px;
}

/*-------212-----*/

.post-212 {
  grid-area: item2;
}

.pick-212 {
  background-image: url("../access/post-212.png");
  width: 277px;
  height: 210px;
}

.textIn-212 {
  width: 277px;
  text-align: center;
  background-color: #f9f7f7;
}

.textIn-212 h5 {
  font-size: 18px;
  font-weight: bolder;
  padding-top: 14px;
}

/*-------221-----*/

.post-221 {
  grid-area: item3;
  justify-self: left;
}

.pick-221 {
  background-image: url("../access/post-221.png");
  width: 544px;
  height: 259px;
}

.textIn-221 {
  width: 544px;
  text-align: right;
  vertical-align: top;
  background-color: #f9f7f7;
}

.textIn-221 h5 {
  font-size: 18px;
  font-weight: bolder;
  padding-top: 20px;
  padding-right: 27px;
}

.textIn-221 p {
  font-size: 14px;
  padding: 22px 27px 0 22px;
}

/*-------222-----*/

.post-222 {
  grid-area: item4;
  justify-self: right;
}

.pick-222 {
  background-image: url("../access/post-222.png");
  width: 544px;
  height: 259px;
}

.textIn-222 {
  width: 544px;
  text-align: right;
  vertical-align: top;
  background-color: #f9f7f7;
}

.textIn-222 h5 {
  font-size: 18px;
  font-weight: bolder;
  padding-top: 20px;
  padding-right: 27px;
}

.textIn-222 p {
  font-size: 14px;
  padding: 22px 27px 0 22px;
}

/*-------231-----*/

.post-231 {
  grid-area: item5;
  justify-self: left;
}

.pick-231 {
  background-image: url("../access/post-231.png");
  width: 544px;
  height: 259px;
}

.textIn-231 {
  width: 544px;
  text-align: right;
  vertical-align: top;
  background-color: #f9f7f7;
}

.textIn-231 h5 {
  font-size: 18px;
  font-weight: bolder;
  padding-top: 20px;
  padding-right: 27px;
}

.textIn-231 p {
  font-size: 14px;
  padding: 22px 27px 0 22px;
}

/*-------232-----*/

.post-232 {
  grid-area: item6;
  justify-self: right;
}

.pick-232 {
  background-image: url("../access/post-232.png");
  width: 544px;
  height: 259px;
}

.textIn-232 {
  width: 544px;
  text-align: right;
  vertical-align: top;
  background-color: #f9f7f7;
}

.textIn-232 h5 {
  font-size: 18px;
  font-weight: bolder;
  padding-top: 20px;
  padding-right: 27px;
}

.textIn-232 p {
  font-size: 14px;
  padding: 22px 27px 0 22px;
}

/*-------241-----*/

.post-241 {
  grid-area: item7;
}

.pick-241 {
  background-image: url("../access/post-241.png");
  width: 277px;
  height: 210px;
}

.textIn-241 {
  width: 277px;
  text-align: center;
  background-color: #f9f7f7;
}

.textIn-241 h5 {
  font-size: 18px;
  font-weight: bolder;
  padding-top: 14px;
}

/*-------242-----*/

.post-242 {
  grid-area: item8;
}

.pick-242 {
  background-image: url("../access/post-242.png");
  width: 480px;
  height: 259px;
}

.textIn-242 {
  width: 372px;
  text-align: right;
  vertical-align: top;
  background-color: #f9f7f7;
}

.textIn-242 h5 {
  font-size: 18px;
  font-weight: bolder;
  padding-top: 41px;
  padding-right: 24px;
}

.textIn-242 p {
  font-size: 14px;
  padding: 22px 24px 35px 24px;
}

/*--------GRID (Footer)--------*/

.footer {
  background-color: #1d2124;
  margin-top: 70px;
}

.containerFooter {
  width: 1170px;
  padding-top: 29px;
  padding-bottom: 27px;
  margin: auto;
  display: grid;
  grid-template-columns: 2fr 1fr;
  align-items: center;
}

.textInFooter {
  font-size: 13px;
}

.logoAndNameFooter {
  justify-self: right;
}

.logoInFooter {
}

.nameInFooter {
}
