.generalContainer {
  background-color: black;
  height: 100vh;
  width: 100vw;
  perspective: 30px;
  perspective-origin: top;
}

.container {
  height: 100%;
  width: 75%;
  margin: 0 auto;
  overflow: hidden;
  transform-origin: 50% 100%;
  transform: rotateX(10deg);
}

.boxForText {
  font-family: Arial, Helvetica, sans-serif;
  text-align: center;
  position: absolute;
  color: rgb(241, 189, 15);
  animation: drive 30s linear infinite;
}

@keyframes drive {
  0% {
    top: 100%;
  }
  100% {
    top: -30%;
  }
}

h2 {
  font-size: 70px;
  margin: 0;
  font-weight: bolder;
}

h4 {
  font-size: 60px;
  margin: 15px 0;
  font-weight: bolder;
}

.boxForText p {
  font-size: 50px;
  margin: 15px 0;
  font-weight: bolder;
}
