* {
  margin: 0;
  padding: 0;
}

.containerGeneral {
  max-width: 1200px;
  max-height: 736px;
  margin: 0 auto;
  background: url("../assets/Background@1X.png");
  font-family: "Arimo";
  padding-bottom: 30px;
}

.container {
  margin: 0 auto;
  width: 1150px;
  padding-top: 24px;
}

.inBlock {
  display: block;
}

.textLeft {
  text-align: left;
}

.colorGreen {
  background-color: #89c331;
}

.colorRed {
  background-color: #f04a56;
}

.colorGrey {
  background-color: #484848;
}

.colorCadetBlue {
  background-color: #20807c;
}

.colorWhite-1 {
  background-color: #fafafa;
}

.colorWhite-2 {
  background-color: #f2f2f2;
}

.colorWhite-3 {
  background-color: #e3e3e3;
}

.fontColor {
  color: #fafafa;
}

.fontSize16 {
  font-size: 16px;
}

.fontSize18 {
  font-size: 18px;
}

.fontSize24 {
  font-size: 24px;
}

.fontSize30 {
  font-size: 30px;
}

.fontSize60 {
  font-size: 60px;
}

.theadPad {
  padding-top: 18px;
  padding-bottom: 18px;
}

.headerSecondLine th {
  padding-top: 8px;
  padding-bottom: 8px;
}

.inLine {
  display: inline-block;
}

table {
  border-collapse: collapse;
  text-align: center;
  border: hidden;
}

th,
td {
  box-shadow: 0 0 3px 0 #7c7c7c;
}

.bodyLine_1 td {
  padding: 28px 0 28px;
  background-color: #f2f2f2;
  color: #484848;
}

.bodyLine_3 td {
  padding: 28px 0 28px;
  background-color: #f2f2f2;
  color: #484848;
}

.bodyLine_5 td {
  padding: 28px 0 28px;
  background-color: #f2f2f2;
  color: #484848;
}

.bodyLine_2 td {
  padding: 28px 0 28px;
  background-color: #e3e3e3;
  color: #484848;
}

.bodyLine_4 td {
  padding: 28px 0 28px;
  background-color: #e3e3e3;
  color: #484848;
}

.bodyLine_6 td {
  padding: 28px 0 28px;
  background-color: #e3e3e3;
  color: #484848;
}

.footerFirstLine {
  width: 310px;
}

tfoot td {
  width: 280px;
  height: 110px;
  text-align: center;
  vertical-align: middle;
}

.footerButton {
  width: 192px;
  height: 49px;
  border-radius: 10px;
  border: none;
  font-weight: bold;
}

button:hover {
  transform: scale(1.25);
}
