* {
  margin: 0;
  padding: 0;
}

.container {
  background-color: white;
  font-family: "Roboto", sans-serif;
  width: 1280px;
  margin: 0 auto;
}
.Navbar {
  font-size: 24px;
  text-align: center;
  padding: 40px 0;
}

.Navbar-link {
  margin-right: 50px;
  color: #16a085;
  text-decoration: none;
}

.content {
  background-color: #f5f6f7;
  padding: 50px 100px 100px;
  text-align: center;
}

.mainText {
  font-size: 29px;
  color: #373737;
}

.text {
  font-size: 21px;
  color: #373737;
  padding-top: 35px;
}

.text {
  font-size: 21px;
  color: #373737;
  padding-top: 35px;
}

.buttGet {
  color: white;
  background-color: #16a085;
  font-size: 16px;
  margin-top: 40px;
  padding: 25px 45px;
}

.footer {
  font-size: 21px;
  color: black;
  text-align: right;
  padding: 45px 100px;
}
