* {
  margin: 0;
  padding: 0;
}

.clearfix:after {
  content: " ";
  display: block;
  clear: both;
  visibility: hidden;
}

.containerGeneral {
  background: url("../assets/rana-sawalha-364253-unsplash@1X.png");
  background-size: cover;
  min-height: 100vh;
  font-family: Verdana, Geneva, Tahoma, sans-serif;
  text-align: center;
  vertical-align: middle;
}

.hoverGreen:hover {
  color: green;
}

.colorWhite {
  color: white;
}

.colorGreen {
  color: #3cb878;
}

.inLine {
  display: inline-block;
}

.containerHeader {
  background-color: rgba(0, 0, 0, 0.5);
}

.headerLogo {
  font-size: 20px;
  float: left;
  margin-top: 14px;
  margin-left: 81px;
  margin-bottom: 18px;
  font-weight: bolder;
}

.boxForRightHeader {
  float: right;
  margin-top: 17px;
  margin-right: 93px;
  margin-bottom: 17px;
}

.signIn {
  font-size: 14px;
}

.signIn::before {
  width: auto;
  text-align: center;
  content: "|";
  color: white;
  margin-right: 24px;
}

.sprite {
  background-image: url("../assets/spritesheet.png");
  background-repeat: no-repeat;
}

.sprite-Google_ {
  width: 25px;
  height: 16px;
  background-position: -5px -5px;
  vertical-align: middle;
}

.sprite-facebook {
  width: 10px;
  height: 20px;
  background-position: -40px -5px;
  vertical-align: middle;
}

.sprite-icon1 {
  width: 19px;
  height: 19px;
  background-position: -60px -5px;
  margin-right: 28px;
  vertical-align: middle;
}

.sprite-icon1:hover {
  width: 19px;
  height: 19px;
  background-position: -5px -34px;
  margin-right: 28px;
  vertical-align: middle;
}

.sprite-icon2 {
  width: 28px;
  height: 20px;
  background-position: -34px -35px;
  margin-right: 28px;
  vertical-align: middle;
}

.sprite-icon2:hover {
  width: 28px;
  height: 20px;
  background-position: -89px -5px;
  margin-right: 28px;
  vertical-align: middle;
}

.sprite-icon3 {
  width: 20px;
  height: 20px;
  background-position: -72px -35px;
  margin-right: 25px;
  vertical-align: middle;
}

.sprite-icon3:hover {
  width: 20px;
  height: 20px;
  background-position: -5px -65px;
  margin-right: 25px;
  vertical-align: middle;
}

main {
  display: flex;
  justify-content: center;
  align-items: center;
  height: calc(100vh - 57px);
}

.containerBackground {
  background: white;
  border-radius: 10px;
  width: 444px;
  position: relative;
}

.smallElem {
  background-color: #3cb878;
  position: absolute;
  left: 0;
  top: 33px;
  width: 18px;
  height: 18px;
}

.containerMain {
  padding: 20px 60px;
}

.headreMainPart {
  font-size: 20px;
  position: relative;
}

.signUp {
  position: relative;
  right: 27%;
}

.logIn {
  position: relative;
  left: 27%;
}

.boxForButton {
  padding-top: 15px;
}

.fb {
  background-color: #305db8;
  border-radius: 5px;
  border: none;
  font-size: 17px;
  padding-left: 15px;
  padding-right: 15px;
}

.vertSepar-fb {
  width: auto;
  text-align: center;
  padding: 13px 15px;
}

.googl {
  background-color: #df4a32;
  border-radius: 5px;
  border: none;
  font-size: 17px;
  padding-left: 17px;
  padding-right: 17px;
}

.vertSepar-G {
  width: auto;
  text-align: center;
  padding: 13px 15px;
}

.separator {
  padding-top: 30px;
}

hr {
  border: 0.5px solid grey;
  width: 134px;
  display: inline-block;
  margin-bottom: 4px;
}

.separator span {
  font-size: 14px;
  padding-left: 14px;
  padding-right: 14px;
}

form {
  margin-top: 18px;
}

.inputName {
  width: 305px;
  padding-top: 17px;
  padding-bottom: 17px;
  padding-left: 17px;
  border-radius: 5px;
  border: 0.5px solid grey;
  font-size: 14px;
}

.inputName:focus,
.inputSName:focus,
.inputConfPass:focus,
.inputPass:focus,
.inputEmail:focus {
  box-shadow: 1px 1px 2px 1px grey;
  outline: none;
}

.inputSName {
  width: 305px;
  padding-top: 17px;
  padding-bottom: 17px;
  padding-left: 17px;
  margin-top: 9px;
  border-radius: 5px;
  border: 0.5px solid grey;
  font-size: 14px;
}

.inputEmail {
  width: 305px;
  padding-top: 17px;
  padding-bottom: 17px;
  padding-left: 17px;
  margin-top: 9px;
  border-radius: 5px;
  border: 0.5px solid grey;
  font-size: 14px;
}

.inputPass {
  width: 305px;
  padding-top: 17px;
  padding-bottom: 17px;
  padding-left: 17px;
  margin-top: 9px;
  border-radius: 5px;
  border: 0.5px solid grey;
  font-size: 14px;
}

.inputConfPass {
  width: 305px;
  padding-top: 17px;
  padding-bottom: 17px;
  padding-left: 17px;
  margin-top: 9px;
  border-radius: 5px;
  border: 0.5px solid grey;
  font-size: 14px;
}

label {
  display: block;
  text-align: left;
  margin-top: 10px;
}

.textDecor:hover {
  text-decoration: underline;
}

.inputCheckBox {
  font-size: 14px;
}

.inputSubmit {
  width: 322px;
  padding-top: 13px;
  padding-bottom: 14px;
  margin-top: 20px;
  border-radius: 5px;
  background-color: green;
  border: none;
  color: white;
  font-size: 16px;
}
