* {
  margin: 0;
  padding: 0;
}

a {
  text-decoration: none;
}

.globalContainer {
  max-width: 1366px;
  font-family: Verdana, Geneva, Tahoma, sans-serif;
  background-image: url("../assets/background@1X.png");
  background-repeat: no-repeat;
  background-size: 100% 100%;
  margin: 0 auto;
}

.container {
  width: 1065px;
  margin: 0 auto;
}

.clearFix::after {
  content: "";
  display: table;
  clear: both;
}

.colorWhite {
  color: white;
}

.colorOrange {
  color: #f26522;
}

.containerHeader {
  padding-top: 50px;
}

.logoName:hover .logo {
  background-image: url("../assets/logoHover.png");
}

.logoName:hover .namePart_1 {
  color: #f26522;
}

.logoName:hover .namePart_2 {
  color: #f26522;
}

.logo {
  background-image: url("../assets/logo.png");
  float: left;
  width: 46px;
  height: 44px;
}

.name {
  padding-left: 15px;
  float: left;
}

.namePart_1 {
  font-size: 24px;
}

.namePart_2 {
  font-size: 14px;
}

.contact {
  float: right;
  text-align: right;
  font-size: 18px;
}

div[class*="pick_"]:hover div {
  opacity: 1;
  transition: all 0.3s ease, opacity 0.7s;
  transform: translateY(0%);
}

.textActiv:hover {
  color: #f26522;
}

.cardHover {
  background-color: #f26522;
  position: absolute;
  bottom: 0;
  opacity: 0;
  padding: 15px 20px 15px;
  transform: translateY(25%);
}

.hoverText_1 {
  display: inline-block;
  font-size: 14px;
}

.hoverText_2 {
  padding-left: 99px;
  display: inline-block;
  bottom: 17px;
}

.hoverText_2:after {
  content: " >";
}

.gradientFon {
  background: linear-gradient(to bottom, white, rgb(49, 49, 49));
  margin-bottom: 20px;
  padding: 3px 2px 2px 3px;
}

.containerMain_1 {
  margin: 45px 0 0;
}

.card_1 {
  float: left;
  text-align: center;
}

.pick_1 {
  background-image: url("../assets/Layer1.png");
  width: 307px;
  height: 200px;
  position: relative;
}

.card_2 {
  float: left;
  text-align: center;
  margin-left: 64px;
}

.pick_2 {
  background-image: url("../assets/Layer2.png");
  width: 307px;
  height: 200px;
  position: relative;
}

.card_3 {
  float: left;
  text-align: center;
  margin-left: 64px;
}

.pick_3 {
  background-image: url("../assets/Layer3.png");
  width: 307px;
  height: 200px;
  position: relative;
}

.containerMain_2 {
  margin: 55px 0 0;
}

.card_4 {
  float: left;
  text-align: center;
}

.pick_4 {
  background-image: url("../assets/Layer4.png");
  width: 307px;
  height: 200px;
  position: relative;
}

.card_5 {
  float: left;
  text-align: center;
  margin-left: 64px;
}

.pick_5 {
  background-image: url("../assets/Layer5.png");
  width: 307px;
  height: 200px;
  position: relative;
}

.card_6 {
  float: left;
  text-align: center;
  margin-left: 64px;
}

.pick_6 {
  background-image: url("../assets/Layer6.png");
  width: 307px;
  height: 200px;
  position: relative;
}

.containerFooter {
  text-align: center;
  padding: 60px 0 20px;
  font-size: 12px;
}
